@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        FrescoMarket<br />
        Cra 17 No 11 - 80<br />
        <abbr title="Phone">P:</abbr>
        123.456.789
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">jhonfercho43@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">molanofabian27@gmail.com</a>
    </address>
</main>